html,
body {
  height: 100%;
}

@app-bg-color: #fff;

body {
  display: flex;
  flex-direction: column;

  background: @app-bg-color - #111;

  align-items: center;
  justify-content: center;
}

.app {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 30em;
  padding: 2em;

  background: @app-bg-color;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);

  &__dashboard {
    display: flex;

    align-items: center;
  }

  &__counter {
    flex-grow: 2;
  }

  &__feed {
    height: 1em;
  }
}

.button {
  &_hidden {
    display: none;
  }
}

.label {
  margin-right: .5em;

  &:after {
    content: ':';
  }
}

.counter {
  margin-right: 1em;
}
