doctype html
html
  head
    meta(charset = 'UTF-8')
    title Тестовое задание для smclinic-spb.ru
    link(rel = 'stylesheet' type = 'text/css' href = '/styles.css')
    -
      const polyfillFeatures = [
        'document.querySelector',
        'Event.DOMContentLoaded',
        'Array.prototype.filter',
      ].join(',');
    script(
      src = `//cdn.polyfill.io/v2/polyfill.min.js?features=${polyfillFeatures}`
    )
    script(src = '//cdn.socket.io/socket.io-1.4.5.js')
    script(src = '/js/index.js')
  body
    .app
      p.app__dashboard
        span.label Внесено
        span.counter.app__counter 0
        button.button.app__start-button(type = 'button') Начать приём купюр
        button.button.button_hidden.app__apply-button(type = 'button') Зачислить
      p.app__feed
